@media only screen and (max-width: 1300px) {
    h1.heading {
        font-size: 50px;
    }

    div.tabContainer {
        padding-inline: 20px;
    }

    button.tab {
        font-size: 14px;
        margin-right: 10px;
        padding-block: 10px;
        padding-inline: 16px;
    }

    h2.featureTitle {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1000px) {
    h1.heading {
        font-size: 40px;
    }

    div.headingSection {
        width: 80%;
    }

    p.headingDescription {
        font-size: 20px
    }

    button.tab {
        font-size: 13px;
        padding-block: 5px;
        padding-inline: 16px;
    }

    h2.featureTitle {
        font-size: 22px;
    }


    div.tabPanel {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    div.tabPanel > img {
        width: 100%;
        max-width: 400px;
        justify-self: center;
    }

    img.imageTag {
        display: none;
    }

    p.featureContent {
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px) {
    div.tabList {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 500px) {
    h1.heading {
        font-size: 24px;
    }
    div.headingSection {
        width: 100%;
    }

    p.headingDescription {
        font-size: 16px
    }
}

@media only screen and (max-width: 350px) {
    h1.heading {
        font-size: 18px;
    }
    div.headingSection {
        width: 100%;
    }

    p.headingDescription {
        font-size: 14px
    }
}