*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.farLeft {
    transform: translateX(-100vw);
}

.farRight {
    transform: translateX(100vw);
}
